/* css reset */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  /* to set root to 10px */
  font-size: 62.5%;
}

:root {
  /* --primary-color-dark: #2d3748; */

  --primary-color-white: #f7fafc;

  --call-to-action: #2d3748;

  --ascent-color: #4fd1c5;

  --purple: #805ad5;

  --indigo: #3182ce;

  --indigo-light: #8ec2f3;

  --indigreen: #4fd1c5;

  --green: #48bb78;

  --green-light: #45f08c;

  --yellow: #f6e05e;

  --yellow-light: #f7eaa6;

  --orange: #ed8936;

  --red: #e53e3e;

  --red-light: #f39e9e;

  --white-a: #ffffff;

  --off-white-b: #e5e7eb;
}

h2 {
  font-size: 2.5rem;
  padding: 1rem 0;
}
h3 {
  font-size: 2rem;
  padding: 0.5rem 0;
}

p {
  font-size: 1.5rem;
  font-weight: 100;

  padding: 0.25rem 0;

  /* line-height: 1; */

  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  background-color: var(--primary-color-white);
  /* font-family: "Dongle", sans-serif; */
  /* font-family: 'EB Garamond', serif; */
  font-family: "Roboto", sans-serif;
}

.card-basic {
  /* min-height: 25px; */

  width: 350px;
}

.card-basic-top {
  /* background-image: url("https://unsplash.com/photos/AE3meMQ9DuE"); */
}

.flex-div {
  display: flex;
}

.flex-div-direction-col {
  flex-direction: column;
}

.flex-div-direction-row {
  flex-direction: row;
}

.flex-div-wrap {
  flex-wrap: wrap;
}

.background-primary {
  background-color: var(--white-a);
}

.height-50 {
  height: 20rem;
}

.height-10 {
  height: 10rem;
}

.pad-0-5 {
  padding: 0.5rem;
}
.pad-1 {
  padding: 1rem;
}

.gap-5 {
  gap: 5px;
}

.gap-20 {
  gap: 20px;
}

.font-3 {
  font-size: 3rem;
}

.flex-grow {
  flex-grow: 1;
}

.flex-end {
  justify-content: flex-end;
}

.background-Img {
  background-size: cover;

  background-image: url("https://picsum.photos/700/700");
}

.box-shadow {
  box-shadow: 0px 0px 2px #888888;
}

.k-box-shadow {
  box-shadow: 0px 0px 2px #888888;
}

.border-radius-all-8 {
  border-radius: 8px;
}

.border-radius-top-8 {
  border-radius: 8px 8px 0 0;
}

.font-bold {
  font-weight: bold;
}

.div-transparent {
  background-color: rgba(255, 255, 255, 0);
}

.color-white-a {
  color: var(--white-a);
}

.color-primary-color-dark {
  color: var(--call-to-action);
}

.color-primary-color-white {
  color: var(--white-a);
}

.button-format {
  border-style: solid;

  border-width: 1px;
}

.button-format-color-def {
  border-color: var(--call-to-action);
}

.button-format-backgroundColor-def {
  background-color: var(--white-a);
}

.button-format-backgroundColor-cta {
  background-color: var(--call-to-action);
}

.input-holder-container {
  color: var(--call-to-action);
  width: 30rem;

  display: flex;

  flex-direction: column;
}

.k-input {
  padding: 0.5rem;

  border-radius: 8px;

  border-style: solid;

  border-width: 1px;

  width: 100%;

  background-color: var(--white-a);

  outline: none;
}

.k-input:focus {
  border-color: var(--indigo);

  box-shadow: 0px 0px 4px var(--indigo);
}

.k-input.k-input-danger {
  border-color: var(--red);

  outline: none;
}

.k-input.k-input-success {
  border-color: var(--green);

  outline: none;
}

.k-input.k-input-info {
  border-color: var(--orange);

  outline: none;
}

.k-input.k-input-danger:focus {
  border-color: var(--indigo);
}

.k-input-label-holder {
  padding: 0.5rem;
}

.k-input-label-holder .font-bold {
  font-size: 1.25rem;
}

.k-input-res-holder {
  display: none;
  padding: 0.5rem;

  text-align: end;
}

.k-input-res-holder.k-input-res-holder-danger {
  display: block;
  padding: 0.5rem;
  color: var(--red);
  text-align: end;
}

.k-input-res-holder.k-input-res-holder-success {
  display: block;
  padding: 0.5rem;
  color: var(--green);
  text-align: end;
}

.k-input-res-holder.k-input-res-holder-info {
  display: block;
  padding: 0.5rem;
  color: var(--orange);
  text-align: end;
}

.k-btn {
  padding: 0.5rem;

  border-radius: 8px;

  border-style: solid;

  border-width: 1px;

  display: flex;

  align-items: center;
}

.k-link {
  padding: 0.5rem;

  border-radius: 8px;

  border-style: solid;

  border-width: 1px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  max-width: 10rem;
}

.k-floating-action-btn {
  padding: 0.5rem;

  width: 5rem;

  height: 5rem;
  border-style: solid;

  border-width: 1px;

  border-radius: 50%;

  background-color: var(--white-a);
  color: var(--call-to-action);
  border-color: var(--call-to-action);
  display: flex;

  align-items: center;

  justify-content: center;

  box-shadow: 0px 0px 4px #888888;
}

.k-floating-action-btn .bx {
  font-size: 3rem;
}

.k-primary {
  color: var(--white-a);

  background-color: var(--call-to-action);
}

.k-secondary {
  color: var(--call-to-action);

  background-color: var(--white-a);
}

.k-secondary:hover {
  color: var(--white-a);

  background-color: var(--call-to-action);

  transition: all 0.5s ease;
}

.k-avatar {
  border-radius: 50%;

  background-color: grey;
}

.k-avatar-xs {
  height: 3rem;

  width: 3rem;
}

.k-avatar-sm {
  height: 4rem;

  width: 4rem;
}

.k-avatar-md {
  height: 5rem;

  width: 5rem;
}

.k-avatar-lg {
  height: 6rem;

  width: 6rem;
}

.k-avatar-xl {
  height: 8rem;

  width: 8rem;
}

.k-avatar-xxl {
  height: 10rem;

  width: 10rem;
}

.k-alert {
  padding: 0.5rem;

  border-radius: 8px;

  border-style: solid;

  border-width: 1px;

  display: inline-flex;

  flex-direction: row;

  flex-basis: 50px;

  justify-content: center;
  min-width: 30rem;

  background-color: var(--white-a);

  color: var(--call-to-action);

  border-color: var(--call-to-action);

  box-shadow: 0px 0px 4px #888888;
}

.k-alert-success {
  color: var(--call-to-action);
  border-color: var(--green);

  background-color: var(--green-light);

  box-shadow: 0px 0px 4px var(--green-light);
}

.k-alert-danger {
  color: var(--call-to-action);
  border-color: var(--red);

  background-color: var(--red-light);

  box-shadow: 0px 0px 4px var(--red-light);
}

.k-alert-warning {
  color: var(--call-to-action);
  border-color: var(--yellow);

  background-color: var(--yellow-light);

  box-shadow: 0px 0px 4px var(--yellow-light);
}

.k-alert-info {
  color: var(--call-to-action);
  border-color: var(--indigo);

  background-color: var(--indigo-light);

  box-shadow: 0px 0px 4px var(--indigo-light);
}

.k-badge {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;

  background-color: #2d374800;

  /* border-color: var(--call-to-action); */

  border-color: #2d374800;

  border-width: 0.4rem;
  border-style: solid;
  display: flex;

  align-items: center;

  justify-content: center;
}

.k-badge .k-dnd {
  height: 0.5rem;

  width: 1rem;

  background-color: var(--white-a);

  border-radius: 0.15rem;
}

.k-badge .k-online {
  height: 100%;

  width: 100%;

  background-color: var(--green);

  border-radius: 50%;
  box-shadow: 0px 0px 4px var(--green-light);
}

.k-online-info {
  height: 100%;

  width: 100%;

  background-color: var(--indigo);

  color: var(--white-a);

  border-radius: 50%;
  display: flex;

  align-items: center;

  justify-content: center;
}

.k-online-dnd {
  height: 100%;

  width: 100%;

  background-color: var(--red);

  color: var(--white-a);

  border-radius: 50%;
  display: flex;

  align-items: center;

  justify-content: center;
}

.k-online-idle {
  height: 100%;

  width: 100%;

  background-color: var(--yellow);

  color: var(--white-a);

  border-radius: 50%;
  display: flex;

  align-items: flex-start;
}

.k-badge .k-idle {
  height: 1.1rem;

  width: 1.4rem;

  transform: rotate(-20deg);

  background-color: var(--white-a);

  border-radius: 50%;
}

.k-badge .k-offline {
  height: 100%;

  width: 100%;

  background-color: var(--off-white-b);

  border-radius: 50%;
}

.badge-avatar {
  z-index: 0;

  /* display: inline-flex; */
  display: flex;
  max-width: 6rem;
  justify-content: flex-end;
  flex-direction: column;
}

.badge-avatar .k-avatar {
  z-index: 1;
}

.badge-avatar .k-badge {
  z-index: 2;
  position: absolute;
  align-self: flex-end;
  background-color: var(--white-a);
}

.badge-avatar-container {
  background-color: var(--white-a);
}

.badge-icon {
  color: var(--call-to-action);

  position: relative;

  display: flex;

  width: 4rem;

  flex-direction: row-reverse;
}

.badge-icon .bx {
  font-size: 4rem;
  padding: 0.5rem;
}

.badge-icon .k-badge {
  position: absolute;
}


.wallpaper-base{

  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(240,226,217,1) 100%);

  height: 100vh;

}

.wallpaper{
/* background-color: #45f08c; */



background-image: url(/assets/k-wallpaper-2-lg.png);


background-size: cover;

height: 100vh;
}


