/* css reset */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  /* to set root to 10px */
  font-size: 62.5%;
}

:root {
  --primary-color-dark: #2d3748;

  --primary-color-white: #f7fafc;

  --call-to-action: #2d3748;

  --ascent-color: #4fd1c5;

  --purple: #805ad5;

  --indigo: #3182ce;

  --indigreen: #4fd1c5;

  --green: #48bb78;

  --yellow: #f6e05e;

  --orange: #ed8936;

  --red: #e53e3e;

  --white-a: #ffffff;

  --off-white-b: #e5e7eb;
}

h2 {
  font-size: 2.5rem;
  padding: 1rem 0;
}
h3 {
  font-size: 2rem;
  padding: 0.5rem 0;
}

p {
  font-size: 1.5rem;
  font-weight: 100;

  padding: 0.25rem 0;

  /* line-height: 1; */

  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  background-color: var(--primary-color-white);
  /* font-family: "Dongle", sans-serif; */
  /* font-family: 'EB Garamond', serif; */
  font-family: "Roboto", sans-serif;
}

.card-basic {
  /* min-height: 25px; */

  width: 350px;
}

.card-basic-top {
  /* background-image: url("https://unsplash.com/photos/AE3meMQ9DuE"); */
}

.flex-div {
  display: flex;
}

.flex-div-direction-col {
  flex-direction: column;
}

.flex-div-direction-row {
  flex-direction: row;
}

.flex-div-wrap {
  flex-wrap: wrap;
}

.background-primary {
  background-color: var(--white-a);
}

.height-50 {
  height: 20rem;
}

.height-10 {
  height: 10rem;
}

.pad-0-5 {
  padding: 0.5rem;
}
.pad-1 {
  padding: 1rem;
}

.gap-5 {
  gap: 5px;
}

.gap-20 {
  gap: 20px;
}

.font-3 {
  font-size: 3rem;
}

.flex-grow {
  flex-grow: 1;
}

.flex-end {
  justify-content: flex-end;
}

.background-Img {
  background-size: cover;

  background-image: url("https://picsum.photos/700/700");
}

.box-shadow {
  box-shadow: 0px 0px 2px #888888;
}

.border-radius-all-8 {
  border-radius: 8px;
}

.border-radius-top-8 {
  border-radius: 8px 8px 0 0;
}

.font-bold {
  font-weight: bold;
}

.div-transparent {
  background-color: rgba(255, 255, 255, 0);
}

.color-white-a {
  color: var(--white-a);
}

.color-primary-color-dark {
  color: var(--primary-color-dark);
}


.button-format{

border-style: solid;



}